{
    "extends": "react-app",
    "rules": {
        "no-unused-vars": ["warn", { "varsIgnorePattern": "Taro" }],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx"] }],
        "semi": [2, "never"],
        "quotes": ["error", "single"],
        "indent": ["error", 2],
        "padded-blocks": ["error", "never"],
        "keyword-spacing": [1, { "before": true }],
        "space-before-function-paren": ["error", { "anonymous": "always", "named": "always" }],
        "rest-spread-spacing": ["error", "never"],
        "no-mixed-spaces-and-tabs": "warn",
        "space-before-blocks": "warn",
        "space-in-parens": "warn",
        "semi-spacing": "error",
        "no-multi-spaces": "warn",
        "no-multi-str":"error",
        "no-whitespace-before-property":"error",
        "space-unary-ops":"error",
        "spaced-comment": "warn",
        "template-curly-spacing":"warn",
        "comma-spacing": "warn",
        "no-multiple-empty-lines": ["error", { "max": 1, "maxEOF": 0 }],
        "block-spacing": "error",
        "no-irregular-whitespace":"error",
        "comma-style": ["error", "last"],
        "dot-location":["error", "property"],
        "eol-last":"error",
        "func-call-spacing":"error",
        "key-spacing":["error", { "beforeColon": false }],
        "one-var": ["error", "never"],
        "no-undef-init": "error",
        "react/no-multi-comp":1,
        "react/jsx-closing-bracket-location": 2,
        "no-self-assign":"error",
        "no-floating-decimal":"error",
        "space-infix-ops": "error",
        "use-isnan":"error",
        "valid-typeof": ["error", { "requireStringLiterals": true }],
        "accessor-pairs": "error",
        "no-array-constructor": "error",
        "no-empty-pattern":"error",
        "no-dupe-keys":"warn",
        "no-extend-native": "error",
        "no-label-var":"error",
        "object-property-newline": ["warn", { "allowAllPropertiesOnSameLine": true }],
        "no-useless-computed-key":"error",
        "no-caller":"error",
        "no-dupe-args":"error",
        "no-extra-bind":"error",
        "no-implied-eval":"error",
        "no-extra-parens":"error",
        "no-func-assign":"error",
        "no-inner-declarations":"warn",
        "no-new-func":"warn",
        "no-new-object":"warn",
        "wrap-iife": ["error", "inside"],
        "no-control-regex":"warn",
        "no-regex-spaces": "error",
        "no-class-assign":"warn",
        "constructor-super": "warn",
        "no-this-before-super":"error",
        "no-useless-constructor":"warn",
        "no-dupe-class-members":"error",
        "new-parens":"warn",
        "no-new":"error",
        "no-duplicate-imports":"warn",
        "no-useless-rename":"error",
        "no-return-assign": "error",
        "no-with": "error",
        "no-labels":"error",
        "no-shadow-restricted-names":"error",
        "no-unreachable":"error",
        "eqeqeq": "error",
        "no-self-compare":"warn",
        "brace-style": ["error", "stroustrup"],
        "operator-linebreak": ["error", "after"],
        "yoda": "error",
        "no-constant-condition":"warn",
        "no-unmodified-loop-condition":"warn",
        "no-duplicate-case":"warn",
        "no-fallthrough":"error",
        "no-extra-boolean-cast":"warn",
        "no-sequences":"error",
        "handle-callback-err":"error",
        "no-ex-assign":"error",
        "no-throw-literal":"error",
        "no-unsafe-finally":"error"
    },
    "parser": "babel-eslint"
}